{
        "config": [{
        "token_account": "ufm.pay",
        "symbol": "UFM",
        "token_memo":"Here are your gifted UFM",
        "reply": true,
        "sucess_reply_body": "<center>**You have received UFM in your wallet!**<br>![1](https://steemitimages.com/640x0/https://cdn.steemitimages.com/DQmcdrjUpYiwts6X6eeCjT7hE3yA5gQpASzSkoUQM54Ghao/cover.png)<br>You can use UFM for posting and curating content on https://upfund.me or to get a vote from @ufmbot.</center>",
        "fail_reply_body": "Sorry, you need more UFM in order to use this service.",
        "no_token_left_body": "Sorry, out of token, please retry later...",
        "no_token_left_for_today": "You need to own more UFM (5000 UFM Power in your wallet allows you to send 5 UFM per day, + 1 UFM for every 1000 Power after that.)",
        "comment_command": "!UFM",
        "user_can_specify_amount": true,
        "default_amount": 5,
        "count_only_staked_token": true,
        "maximum_amount_per_comment": 25,
        "token_in_wallet_for_each_outgoing_token": 1000,
        "min_token_in_wallet": 5000,
        "usage_upvote_percentage": 3
        }],
        "no_broadcast": false,
        "print_log_at_block": 300,
        "wallet_password": "walletpass"
}
